*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #F4F3F3;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    gap: 4px;
}

header h1{
    font-size: 2.4rem;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}

.links ul li a{
    display: inline-block;
    padding: 8px 24px;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
    border-radius: 36px;
}

.links ul li a:hover{
    background-color: #393f49;
    color: #EEEDED;
}

.container-atividades{
    width: 100%;
    height: 624px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.title-atv h2{
    font-size: 1.8rem;
    margin-bottom: 8px;
    text-align: center;
}

.desc-atv p{
    text-align: center;
    max-width: 376px;
    font-size: 1rem;
}

.black-background{
    background-color: #21252B;
    color: #EEEDED;
}

#atv-filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    height: auto;
}

.container-filtro{
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.box-imgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 950px;
}

.atv-imagem img{
    object-fit: cover;
    width: 450px;
    height: 300px;
    border-radius: 8px;
}
.filtro {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.filtro img{
    object-fit: cover;
    width: 250px;
    height: 170px;
}
.desc-filtro{
    width: 180px;
    height: 140px;
    text-align: center;
}
.desc-filtro h3{
    font-size: 1rem;
    margin-bottom: 4px;
}
.desc-filtro p {
    font-size: 0.8rem;
}