*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #F4F3F3;
    gap: 38px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
}

header h1{
    font-size: 2.4rem;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style-type: none;
}

.links ul li a{
    display: inline-block;
    padding: 8px 24px;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
    border-radius: 36px;
}

.links ul li a:hover{
    background-color: #393f49;
    color: #EEEDED;
}

.container-editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
    width: 100%;
    padding: 8px 12px;
    position: relative;
    margin-bottom: 80px;
}

.container-editor .texto-editor{
   text-align: center;
   padding: 15px;
}

.container-editor .texto-editor h2{
    font-size: 2.1rem;
    max-width: 350px;
}

.btn-editor{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 16px 48px;
    background-color: #21252B;
    color: #EEEDED;
    border-radius: 36px;
    width: 252px;
    font-size: 1.1rem;
    margin-top: 24px;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.btn-editor:hover{
    background-color: #21252bc9;
}

.img-editor{
    position: relative;
    z-index: 2;
}

.img-editor img{
    border: 3px solid #000000;
    object-fit: cover;
    width: 290px;
    height: 390px;
    position: relative;
    z-index: 3;
}

.circle{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #D9D9D9;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 1; 
}

.container-atividades{
    text-align: center;
    padding: 16px;
    background-color: #21252B;
    width: 100%;
    color: #EEEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.title-atividades{
    margin-top: 40px;
}

.title-atividades h2{
    font-size: 2.1rem;
    margin-bottom: 2px;
}

.title-atividades p{
    font-size: 1.2rem;
    max-width: 550px;
}

.conteiner-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteiner-img h3{
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.box-imgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 500px;
}
.img-at{
    width: 300px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 8px;
}